<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Controller\Adminhtml\Product\Save" type="Evil\Custom\Controller\Catalog\Adminhtml\Product\Save" />
    <type name="Magento\Catalog\Block\Product\View\Options\Type\Select">
        <plugin disabled="false" name="Evil_Custom::Select" sortOrder="1" type="Evil\Custom\Plugin\Block\Product\View\Options\Type\Select" />
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions">
        <plugin name="Evil_Custom::Options" type="Evil\Custom\Plugin\Product\Form\Modifier\CustomOptions\ModifyMeta" sortOrder="20" disabled="false"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="evil_custom_options" xsi:type="array">
                <item name="evil_custom_options" xsi:type="string">Evil\Custom\Model\ResourceModel\EvilCustomOptions\Collection</item>
            </argument>
            <argument name="evil_custom_option_values" xsi:type="array">
                <item name="evil_custom_option_values" xsi:type="string">Evil\Custom\Model\ResourceModel\EvilCustomOptionValues\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
